(:
This is technically an XQuery file.  
:)
'
doctype html5
html(lang="en")
    head!= head
    body 
        .container
            != menu
        .container
            != body
    
    script(src="http://code.jquery.com/jquery.js")
    script(src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js")
'